.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu{
  background-color:#2E1A12;
}
.menu .navbar-brand{
  color: white; /* Golden Yellow */
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 5px #FFD700, 0 0 10px #FFA500;
  font-size: 2.5rem;
}
.nav2 .navt{
  color: white; /* Golden Yellow */
  font-weight: bold;
  text-decoration: none;
}
.nav2 .navt:hover{
  color:#f70262;
}
.rj{
  font-size: 90px;
}
.homepic{
  width:100%;
  height:100vh;
  position:relative;
}
.content{
  position:absolute;
  top:50%;
  left:20%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:white;  
}
.cake-btn{
  background-color:#FFD700;
  border: 2px solid #FFD700;
  color: #2E1A12;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.cake-btn:hover{
  background-color: transparent;
  color:#FFD700 ;
}
.footer{
  background-color: #2E1A12;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
.card-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.card-text{
  color:#2E1A12;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pc-card{
  width: 280px;            
  height: 440px;           
  margin: 10px;
  border:2px solid #2E1A12; 
  box-shadow: 0 8px 16px #352018;
  border-radius: 12px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}
.pc-card:hover {
  box-shadow: 0 8px 16px rgba(75, 46, 46, 0.3),  0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}
.card-btn{
  padding: 5px 8px;
  border: 1px solid white;
  border-radius: 8px;;
  background-color:#2E1A12 ;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card-btn:hover {
  background-color: yellow;
  color: #2E1A12;
  border: 1px solid #2E1A12;
}
.about{
  height:450px;
  width: 100%;
  background-color: #c9a46c;
}
.abimg{
  height:500px;
  width:600px;
}
.sec-a{
  width:400px;
  height:300px;
  padding-top:10%;
  padding-left:60px;
}
.imageab{
  height:450px;
  width:100%;
}
.story{
  height:400px;
  width:100%;
  background-color: #f2e6d4;
} 
.stoimg{
  height:300px;
  width:300px;
  margin-top: 5%;
  margin-left:3% ;
}
.sec-b{
  height:400px;
  width: 800px;
  padding-top: 25px;
  text-align: justify;
  margin-right: 4%;
}
.special {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff5ee;
  border-radius: 16px;
  margin-top: 40px;
}

.section-title {
  font-size: 2rem;
  color: #4e342e;
  margin-bottom: 30px;
}

.special-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.feature {
  background: #fff;
  padding: 20px;
  border: 2px solid #d7b899;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.icon {
  font-size: 2.5rem;
  color: #b76e79;
  margin-bottom: 10px;
  height:50px;
}

.contact {
    background-color: #fff8f2;
    height: 700px;
    padding: 40px 10px;
}

.con-img {
    flex: 1;
    text-align: center;
    padding: 20px;
    width:400px;
}

.con-pic {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 20%;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  background: transparent;
}

.details {
  flex: 1;
  padding: 20px;
  height: 600px;
  background-color: #5d4037;
  border-radius: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-label {
font-weight: bold;
  color: white;
}

.form-det {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.form-btn {
  padding: 3px;
  width:100px;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: #5d4037;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  align-items: center;
}

.form-btn:hover {
  background-color: #4e342e;
  color:white;
}
.signup{
  width:100%;
  height:590px;
  background-color:#4e342e;
  padding:50px;
  color: white;
}
.signupform{
  width:500px;
  height:490px;
  border-radius: 15px;
  background-color: white;
  padding:5px 5px;
  margin-left:30%;
  color:#4e342e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: #ccc 0px 2px 8px;
}
.sign-btn{
  width:100px;
  border-radius: 5px;
  background-color: #4e342e;
  color:white;
  padding:5px;
  align-items: center;
  cursor:pointer;
  align-items: center;
}
.sign-label{
  font-weight:bold;
}
.form-in{
  border-radius: 7px;
  box-shadow: #4e342e;
}
.login{
  padding:50px;
  width:100%;
  height:500px;
  background-color: #4e342e;
}
.login-form{
  width:500px;
  height:390px;
  margin-left:30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15px 30px;
  gap:10px;
  border-radius: 15px;
}
.login-btn{
  padding:10px;
  border-radius: 7px;
  background-color: #4e342e;
  color:white;
  cursor:pointer;
}